<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is Home Page</title>
</head>
<body>

<section >
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form id="login-form" class="form" th:action="@{/signin}" action="#" method="post">

                  

                  <h5 class="text-center" style="letter-spacing: 1px;">Sign into your account</h5>
                  
                  <div th:if="${param.error}" class="alert alert-danger">
                  Invalid User Name And Password!!!
                  </div>
                  
                   <div th:if="${param.logout}" class="alert alert-success">
                  You Have Been Logout!!!
                  </div>

                  <div class="form-outline mb-4">
                    <input 
                    type="text" 
                    id="form2Example17" 
                    name="username"
                    class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">User Name</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input
                     type="password" 
                     id="form2Example27"
                     name="password"
                      class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Password</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn bg-primary btn-block text-white"
                     type="submit"
                     name="submit"
                     value="submit">Login</button>
                  </div>

                  <a class="small text-muted" href="#!">Forgot password?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Don't have an account? <a href="#!" th:href="@{/signup}"
                      style="color: #393f81;">Register here</a></p>
                  <a href="#!" class="small text-muted">Terms of use.</a>
                  <a href="#!" class="small text-muted">Privacy policy</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</section>
	
</body>
</html>